*{
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
}

.my-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

h2{
    color: blue;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
}