*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

h2{
    color: blue;
}